
body {
    padding: 2%;
    margin: 0%;
    background-color: aliceblue;
    align-items: baseline;
    font-family: helvetica;
    text-align: center;

  
}
#divBusca {
    background-color: #E0EEEE;
    border: solid 2px #6d5fa0;
    border-radius: 10px;
    width: 300px;
    height: 32px;
}
#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 191px;
}
#btnBusca {
    border: none;
    float: left;
    height: 32px;
    font-weight: italic;
    background: #5F9EA0;
}
#divBusca img{
    float: left;
    height: 30px;
    width: 40px;
    background-color: transparent;
}
#escudos {
    align-items: center;
    position: relative;
    object-fit: contain;
    background: #b7ddf3;
    position: relative;
    padding: 16px;
    margin: 0px;
}
#bandeira {
    width: 150px;
    height: 150px;
    float: left;
}
h1 {
   font-family: italic; 
}
table {
    width: 600px;
}
table thead {
background-color: #ccc;
}
th, td {
    padding: 10px;
    text-align: center;
}
tbody tr:hover {
    background-color: #eee;
    object-fit: contain;
    width: 60px;
}
tbody tr:nth-child(even) {
    background-color: #eee;
}
ol {
text-align: center;
}
li {
text-align: center;
}